edc-navigation,
egs-navigation,
eos-navigation,
epicgames-navigation,
fortnite-navigation,
rocketleageu-navigation,
twinmotion-navigation,
fallguys-navigation,
realitycapture-navigation,
metahuman-navigation,
devportal-navigation,
unrealengine-navigation,
sac-navigation {
	display: flex;
	background-color: #101014;
	height: 4.5rem;
	font-family: Inter, sans-serif;
}
